#dv_web_info_price {
  background-color: #f5f8fb;
  padding-top: 20px;
  .panel {
    transition: 0.2s all;
    border-radius: 0;
    background-color: white;
    .panel-heading {
      padding: 0;
      &.special {
        position: relative;
        ::before {
          position: absolute;
          content: "";
          width: 0px;
          height: 0px;
          border-top: 60px solid #1f45a8;
          border-left: 60px solid transparent;
          right: 0;
          top: -1px;
          z-index: 1;
        }
        ::after {
          display: block;
          position: absolute;
          right: 8px;
          top: 8px;
          font-family: 'fontawesome';
          font-weight: normal;
          font-size: 18px;
          content: '\f006';
          z-index: 2;
          color: white;
        }
      }
      h3 {
        font-size: 32px;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
    .price-value {
      padding: 20px 0 14px;
      margin: 23px -10px 30px;
      background: #eee;
      color: #333;
      position: relative;
      transition: all 0.3s ease-in-out 0s;
      ::before, ::after {
        content: "";
        display: block;
        width: 10px;
        height: 15px;
        border-width: 13px 5px 11px;
        border-style: solid;
        border-color: transparent #777 #777 transparent;
        position: absolute;
        top: -24px;
        left: 0;
        transition: all 0.3s ease-in-out 0s;
      }
      ::after {
        border-width: 11px 5px;
        border-color: transparent transparent #777 #777;
        top: -22px;
        left: auto;
        right: 0;

      }
    }
    ul.list-group {
      li {
        background-color: inherit;
      }
    }

  }
  .panel:hover {
    box-shadow: 0px 7px 6px 3px rgba(128, 128, 128, 0.34);
    background-color: #1f45a8;
    color: white;
    &.highlighted {
      background-color: #ebb02d;
      .price-value {
        background-color: #1f45a8;
        color: white;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #dv_web_info_price {
    .panel {
      .panel-heading {
        &.special {
          ::before {
            border-top: 30px solid #1f45a8;
            border-left: 30px solid transparent;
          }
          ::after {
            right: 2px;
            top: 2px;
            font-size: 16px;
          }
        }
        h3 {
          font-size: 23px;
        }
      }
    }
  }
}