#footer2 {
  position: relative;
  z-index: unset;
  background-color: #125fb7;
  //background: url("../images/slider/img-decor-01.jpg");
  background: url('../images/temps/1_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  a {
    color: white;
  }
  .footer__jumpTop > a {
    font-size: 30px;
    line-height: 1;
    background: #125fb7;
    height: 106px;
    left: 50%;
    margin: 0 0 0 -53px;
    position: absolute;
    z-index: -1;
    text-align: center;
    top: -40px;
    width: 106px;
    border-radius: 50%;
    .fa {
      color: white;
      padding-top: 10px;
      transition: all 0.5s ease;
    }
  }
  #main-footer {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    #main-footer-left {
      .logo {
        img {
          width: 50%;
          height: 50%;
          margin-bottom: 20px;
        }
      }
      .footer-info {
        ul {
          li {
            color: white;
            line-height: 2.5;
            span {
              font-weight: bold;
            }
            i {
              margin-right: 20px;
              font-size: 25px;
            }
            p {
              font-style: italic;
            }
          }
        }
      }
    }
    #main-footer-right {
      align-self: flex-start;
      text-align: right;
    }
  }
}
@media screen and (max-width: 768px) {
  #footer2 {
    z-index:unset;
    .footer__jumpTop > a {
      z-index: -1;
    }
    #main-footer {
      display: block;
    }
  }
}