//#slider1{
//  img{
//    width: 100%;
//    height: 800px;
//  }
//}
.nivoSlider {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.nivoSlider img {
  height: 100% !important;
}

.nivo-main-image {
  height: 100% !important;
}
@media screen and(max-width: 415px) {
  .nivoSlider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}