#slider2 {
  min-height: 760px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #8d81ac;
  font-size: 0;
  letter-spacing: -4px;
  padding: 104px 0 0;
  //background: #002340;
  margin-bottom: 55px;
  > .container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0;

    .text-block {
      padding: 90px 0;
      .heading-holder {
        h1 {
          margin: 0 0 20px;
          //font-size: 8.2rem;
          font-size: 60px;
          line-height: 1.12;
          font-weight: bold;
          color: #ffffff;
        }
      }
      .tagline {
        p.element {
          text-transform: uppercase;
          color: white;
          font-size: 21px;
          line-height: 1.1;
          display: inline-block;
          margin: 0 0 15px;
        }
        .typed-cursor {
          animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
      }
      .infos {
        display: block;
        .info {
          display: inline-block;
          font-size: 1.0rem;
          line-height: 1.5;
          margin: 0 5px;
          color: #fff;
          text-transform: uppercase;
          i {
            color: #f3ad1d;
          }
        }
      }
    }
  }
  .slider2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

@media screen and(max-width: 768px) {
  #slider2 {
    min-height: 0;
    padding: 0;
    margin-bottom: 0;
    > .container {
      line-height: 0;
      font-size: 0px;
      .text-block {
        padding: 0;
        .heading-holder {
          h1 {
            font-size: 15px;
            margin: 10px 0 0 0;
          }
        }
        .tagline{
          position: absolute;
          top: 44%;
          right: 19%;
          p.element{
            font-size: 12px;
          }
          .typed-cursor{
            font-size: 15px;
          }
        }
        .infos {
          height: 173px;
          padding-top: 26px;
          .info {
            font-size: 8px;
            line-height: 2.5;
          }
        }
      }
    }
    .slider2{
      height: 200px;
    }
  }
}

@media screen and(max-width: 1440px) and(min-width: 768px) {
  #slider2 {
    min-height: 519px;
    > .container {
      .text-block {
        padding: 0;
      }
    }
  }
}